#main-window[tabsintitlebar][sizemode="fullscreen"] #toolbar-menubar .titlebar-buttonbox-container {
  display: none !important;
}
#main-window[tabsintitlebar][sizemode="fullscreen"] #nav-bar {
  margin-top: -20px !important;
  z-index: 1000 !important;
}
#main-window[tabsintitlebar][sizemode="fullscreen"] #window-controls {
  display: none !important;
}
#main-window[tabsintitlebar][sizemode="maximized"] #titlebar:has(#toolbar-menubar) {
  margin-bottom: 10px !important;
}
/* colored lines for containers */
.tabbrowser-tab[usercontextid] .tab-content {
  border-bottom: 2px solid var(--identity-icon-color) !important;
}
.tabbrowser-tab[usercontextid] .tab-content > * {
  margin-bottom: -2px !important
}
#tabbrowser-tabs:not([overflow="true"]) ~ #alltabs-button {
  display: none !important;
}
/* Firefox 132 only fix */
#toolbar-menubar {
  height: 37px !important; 
}
/* Firefox 133 only fix*/
#tabbrowser-tabs,
#tabbrowser-tabs > #tabbrowser-arrowscrollbox,
.tabbrowser-tabs .tabbrowser-tab {
  min-height: 22px !important;
}
